body {
     margin:0px;	
}

.helper {
    stroke: yellow;
    stroke-width: 1;
}

.text {
    font-size: 0.3px;
    fill: red;
}

.loop {
    stroke: black;
    fill: none;
    stroke-width: 8%;
}

.circle {
    fill: green;
}

.rect {
    fill: red;
}

.line {
	stroke: yellow;
	stroke-width: 1;
}

.invisible {
    display: none;
}

.aboveLeft {
	stop-color:yellow;stop-opacity: 1;
}

.aboveRight {
	stop-color:red;stop-opacity: 1;
}

.beneathLeft {
	stop-color:yellow;stop-opacity: 1;
}

.beneathRight {
	stop-color:dodgerblue;stop-opacity: 1;
}
